.app-screen {
  /* background-image: radial-gradient(
    at 30% top,
    rgba(8, 28, 36, 1) 0%,
    rgba(7, 64, 52, 1) 70%
  ); */
  /* background-color: rgba(8, 28, 36, 1); */
  height: 100%;
  background-color: #081c24;
}

.app-header {
  background-image: url('https://www.themoviedb.org/assets/2/v4/footers_v2/TheMatrix-bb0fe85661c3587a83566343066fe017ffea28e9823a5ded42f74b599f7d12d6.jpg');
  /* radial-gradient(at 30% top, rgba(7, 64, 52, 1) 0%, rgba(8, 28, 36, 1) 70%); */
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  margin-bottom: 60px;
}

.search-box {
  position: relative;
  align-self: flex-end;
  margin-bottom: -20px;
  width: 70%;
}
.search-input {
  border: 0;
  color: #204529;
  border-radius: 30px;
  background-color: #fff;
  font-size: 100%;
  padding: 12px 10px;
  width: 100%;
}
.search-box_result {
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 10px;
  z-index: 999;
  width: 100%;
}
.search-box_result_list {
  /* border: 0; */
  background-color: #fff;
}
.search-box_result_list li {
  border: 0;
  display: flex;
  align-items: center;
  line-height: 40px;
}

.movie-card {
  color: white;
  margin: 30px 0px 20px 0;
  padding-right: 40px;
  /* height: 400px; */
}
.movie-card_info {
  display: flex;
  flex-direction: column;
  padding: 10px 0 20px 0;
  /* margin-bottom: 15px; */
}
.movie-cover-photo {
  height: 90%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* @media */
